<section id="home" class="home" style="overflow: hidden">
  <div class="wrapper">
    <img class="logo wow fadeInUp" src="" alt="">
    <img class="logo wow fadeInUp" src="" alt="">
    <h1 class="wow fadeInUp" data-wow-delay="0.15s">Interlude 1000x<br />Farm e PvP</h1>
    <h2 class="wow zoomIn" data-wow-delay="0.45s">Lançamento 20 de Abril/24</h2>
    <div class="buttons">
      <a class="wow fadeInLeft" data-wow-delay="0.6s" href="#" target="_blank">
<span>
<strong>Download do Jogo</strong>
Venha pra treta!
</span>
        <span>
<img src="assets/img/ic_download.png" alt="">
</span>
      </a>
      <a class="wow fadeInRight" data-wow-delay="0.6s" href="#features">
<span>
 <img src="assets/img/ic_features.png" alt="">
</span>
        <span>
<strong>Todas features</strong>
Veja o que está á sua espera
</span>
      </a>
    </div>
  </div>
  <small class="wow fadeIn" data-wow-delay="1s">Navegue abaixo para ver mais</small>
  <div class="nav">
    <a href="#whoweare">
      <img src="assets/img/ic_arrow_down.png" alt="">
    </a>
  </div>
  <div class="effects hide-smartphone">
    <div class="sparks">
      <div class="num1">
      </div>
      <div class="num2">
      </div>
      <div class="num3">
      </div>
      <div class="num4">
      </div>
      <div class="num5">
      </div>
      <div class="num6">
      </div>
    </div>
    <div class="smokes">
      <div class="num1"></div>
      <div class="num3"></div>
    </div>
  </div>
</section>
<div class="anchor" id="whoweare"></div>
<section class="whoweare">
  <div class="wrapper">
    <h1 class="section-title wow fadeInUp">Quem somos</h1>
    <p class="section-paragraph wow fadeInDown" data-wow-delay="0.15s">
      L2 Raklion é um servidor PvP 1000x Farm, com GM Shop, Buffer, Global GK e, Weapons e Armors Dynasty e Jóias Boss.
    </p>
    <div class="benefits">
<span class="wow fadeInRight" data-wow-delay="0.3s">
<strong>Eventos do Servidor</strong>
<p>
Servidor com vários eventos <br />
  Capture the Flag <br />
  Team vs Team <br />
  Death Match <br />
  Town War.
</p>

</span>
      <span class="wow fadeInLeft" data-wow-delay="0.3s">
<strong>NPC's do Servidor</strong>
<p>
  Todos os NPC's para suportar seu gameplay. <br />
  Global GK <br />
  GM Shop (CP Potion, Enchant, Life Stone)<br />
  Npc Buffer (Fight, Mage, Scheme e Avulsos). <br />
  Npc de Classe.
</p>
</span>
    </div>
    <ul class="features">
      <li class="wow fadeInRight" data-wow-delay="0.4s">
        <img src="assets/img/ic_feature1.png" alt="">
        <strong>Aden Castle Siege</strong>
        <small>Relembre essa batalha Épica</small>
        <p>
          O Castelo de Aden está pronto para ser tomado novamente por quem estiver apto a conquista lo. Junte se as batalhas dessa épica siege para reviver tudo o que o reíno de Aden tem para oferecer.
        </p>
      </li>
      <li class="wow fadeInRight" data-wow-delay="0.5s">
        <img src="assets/img/ic_feature2.png" alt="">
        <strong>Balanceamento</strong>
        <small>Configurações do servidor</small>
        <p>
          Nosso servidor conta com poucos itens custons e 20+4 slot de buff, próximo ao original, para que todas as classes sejam balanceadas, e possamos fazer qualquer ajuste de dano, tornando assim o server bem balanceado e prazeroso de jogar.</p>
      </li>
      <li class="wow fadeInRight" data-wow-delay="0.6s">
        <img src="assets/img/ic_feature3.png" alt="">
        <strong>Vote System</strong>
        <small>Vote e ganha Glittering Medal</small>
        <p>
          Nosso sistema da 20.000 Glitering por cada voto a cada 12h.<br />
          (Estamos programando a funcionalidade para validar e fazer a entrega das moedas na warehouse, este sistema ficará pronto nas primeiras semanas do jogo.)
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="anchor" id="features"></div>
<section id="slider-zones" class="zones">
  <div class="slider" rel="1">
    <ul class="slider-pages wow fadeInDown">
      <li rel="1" data-slider="slider-zones">
        <small>Rates e Drop</small>
        <strong>Xp, Drop e Eventos</strong>
      </li>
      <li rel="2" data-slider="slider-zones">
        <small>Itens Disponíveis</small>
        <strong>Weapons e Armors</strong>
      </li>
      <li rel="3" data-slider="slider-zones">
        <small>Zonas de Farm</small>
        <strong>Primeval Isle e mais</strong>
      </li>
      <li rel="4" data-slider="slider-zones">
        <small>Suporte</small>
        <strong>Contate nos</strong>
      </li>
    </ul>
    <div class="slider-wrapper">
      <div class="slider-content">
        <div class="slider-text">
          <span>Rates, Drop e NPC's</span>
          <h1 class="section-title">Xp, Drop e Medals</h1>
          <p class="section-paragraph">
            Xp: 1000x <br>
            Sp: 1000x <br>
            Adena: 1000x <br>
            Drop/Spoil: 1.3x <br>
            Enchant: Safe +10 / Max + 30 / 70% - Enchant Scroll <br>
            <br>
            GM SHOP: Jóias Boss, Enchant Scroll (normal) e Spirit Stone. <br>
            NPC BUFF: Completo com todos os BUFF's. <br>
            GK com Zonas de Farm, Raids e outras áreas do jogo. <br>
            <br>
            Olympiads: 15 em 15 dias (Quinzenal) das 18:00 às 00:00.<br>
            <br>
            Eventos Custom: CTF, TVT, DM e TW.<br>
          </p>
        </div>
      </div>
      <div class="slider-content">
        <div class="slider-text">
          <span>Itens Disponíveis</span>
          <h1 class="section-title">Weapons e Armors</h1>
          <p class="section-paragraph">
            Weapons: Dynasty <br>
            Armors: Dynasty <br>
            Jóias: Boss <br><br>
          </p>
        </div>
      </div>
      <div class="slider-content">
        <div class="slider-text">
          <span>Zonas de Farm</span>
          <h1 class="section-title">Monastery of Silence e mais</h1>
          <p class="section-paragraph">
            <b>Primeval Isle</b>: <br>
            Drop: <br>
            80~~120 Glittering Event Medal (100%)<br>
            <br><br>
            <b>Monastery of Silence</b>: <br>
            Drop: <br>
            80~~120 Glittering Event Medal (100%)<br>
            <br>
            <b>Imperial Tomb</b>: <br>
            Drop: <br>
            80~~120 Glittering Event Medal (100%)<br>
            <br>
          </p>
        </div>
      </div>
      <div class="slider-content">
        <div class="slider-text">
          <span>Suporte</span>
          <h1 class="section-title">Contate nos</h1>
          <p class="section-paragraph">Estamos sempre online atrávez do <a href="https://discord.gg/C69QchB9" target="_blank">Discord</a> e eventualmente no Whatsapp <b>(31) 9 9144 - 6232</b>. </p>
          <p class="section-paragraph">Queremos estar próximo dos players, atendendo os e processando os feedbacks  com agiliade para que nada atrapalhe nossa jogatina. </p>
          <br>
          <p class="section-paragraph">Nada no server é escrito na pedra, então qualquer sugestão que possa tornar o servidor melhor ou mais divertido é bem vinda, como correçoes de rate ou dano. Sinta se a vontade para nós contatar no discord e enviar sua sugestão ou feedback.</p>
          <br>
          <p class="section-paragraph">O admin tem um conhecimento em servidores e programação, e está disposto a fazer correções e ajustes caso seja necessário para que o server rode sempre de uma forma que atenda a todos, sem bugs e eventualidades.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="account">
  <div class="wrapper">
    <h1 class="section-title wow fadeInUp">Cadastro</h1>
    <p class="section-paragraph wow fadeInDown" data-wow-delay="0.15s">
      Cadastre se e venha fazer parte desse incrível servidor!
    </p>
    <p *ngIf="createAccountMessage != null" style="text-align: center; margin-top: 14px"><small>{{createAccountMessage.message}}</small></p>
    <form [formGroup]="createAccountForm" style="width: fit-content; display: flex; flex-direction: column; margin: 0 auto; margin-top: 2rem">
      <div style="display: flex; justify-content: space-between">
        <label for="login">Login:</label>
        <input type="text" name="login" id="login" style="margin-left: 1rem" formControlName="login" />
      </div>
      <br>
      <div style="display: flex; justify-content: space-between">
        <label for="email">E-mail:</label>
        <input type="text" name="email" id="email" style="margin-left: 1rem" formControlName="email" />
      </div>
      <br>
      <div style="display: flex; justify-content: space-between">
        <label for="password">Senha:</label>
        <input type="text" type="password" name="password" id="password" style="margin-left: 1rem" formControlName="password"/>
      </div>
      <br>
      <div style="display: flex; justify-content: space-between">
        <label for="password">Repetir Senha:</label>
        <input type="text" type="password" name="password" id="repeat-password" style="margin-left: 1rem" formControlName="repeatPassword"/>
      </div>
      <br>
      <input type="button" value="Cadastrar se" (click)="createAccount()" /><br>
      <div style="text-align: right">
        <a href="#">Esqueci minha senha</a>
        <br>
        <a href="#">Trocar senha</a>
      </div>
    </form>
  </div>
</section>
<section class="downloads">
  <div class="wrapper">
    <h1 class="section-title wow fadeInUp">Downloads</h1>
    <p class="section-paragraph wow fadeInDown" data-wow-delay="0.15s">
      Faça download do nosso Patch para versão Interlude ou baixe o Cliente + Patch completo.
    </p>
    <table style="margin: 0 auto; margin-top: 25px;">
      <tbody>
      <tr>
        <td style="padding-right: 20px">PATCH</td>
        <td style="padding-right: 20px"><a href="#" target="_blank">MEGAUPLOAD</a></td>
        <td><a href="#" target="_blank">GOOGLE DRIVE</a></td>
      </tr>
      <tr>
        <td style="padding-right: 20px">CLIENT FULL + PATCH</td>
        <td><a href="#" target="_blank">MEGAUPLOAD</a></td>
        <td><a href="#" target="_blank">GOOGLE DRIVE</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<section id="slider-bosses" class="bosses" style="z-index: 9999">
  <div class="wrapper">
    <div class="slider" rel="1">
      <ul class="slider-pages wow fadeInDown">
        <li rel="1" data-slider="slider-bosses" class="active">
          <img src="assets/img/ic_raid1.png" alt="">
          <span class="hide-smartphone">PvPs</span>
        </li>
        <li rel="2" data-slider="slider-bosses">
          <img src="assets/img/ic_raid2.png" alt="">
          <span class="hide-smartphone">PKs</span>
        </li>
        <li rel="3" data-slider="slider-bosses">
          <img src="assets/img/ic_raid3.png" alt="">
          <span class="hide-smartphone">Clans</span>
        </li>
        <li rel="4" data-slider="slider-bosses">
          <img src="assets/img/ic_raid4.png" alt="">
          <span class="hide-smartphone">Olympiads</span>
        </li>
        <li rel="5" data-slider="slider-bosses">
          <img src="assets/img/ic_raid5.png" alt="">
          <span class="hide-smartphone">Heroes</span>
        </li>
        <li rel="6" data-slider="slider-bosses">
          <img src="assets/img/ic_raid5.png" alt="">
          <span class="hide-smartphone">Castelos</span>
        </li>
      </ul>
      <div class="slider-wrapper">
        <div class="slider-content">
          <div class="slider-text wow fadeInUp">
            <span>Ranking</span>
            <h1 class="section-title">PvP's</h1>
            <table>
              <thead>
              <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>PvP's</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of pvps; let i = index">
                <td>{{i+1}}º</td>
                <td>{{item.char_name}}</td>
                <td>{{item.pvpkills}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="slider-content">
          <div class="slider-text">
            <span>Ranking</span>
            <h1 class="section-title">PK's</h1>
            <table>
              <thead>
              <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>PK's</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of pks; let i = index">
                <td>{{i+1}}º</td>
                <td>{{item.char_name}}</td>
                <td>{{item.pkkills}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="slider-content">
          <div class="slider-text">
            <span>Ranking</span>
            <h1 class="section-title">Clan's</h1>
            <table>
              <thead>
              <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontos</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of clans; let i = index">
                <td>{{i+1}}º</td>
                <td>{{item.clan_name}}</td>
                <td>{{item.reputation_score}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="slider-content">
          <div class="slider-text">
            <span>Ranking</span>
            <h1 class="section-title">Olympiad's</h1>
            <table>
              <thead>
              <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Classe</th>
                <th>Pontos</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of olympiads; let i = index">
                <td>{{i+1}}º</td>
                <td>{{item.char_name}}</td>
                <td>{{item.class_name}}</td>
                <td>{{item.olympiads_points}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="slider-content">
          <div class="slider-text">
            <span>Server</span>
            <h1 class="section-title">Heroes</h1>
            <table>
              <thead>
              <tr>
                <th>Nome</th>
                <th>Classe</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of olympiads">
                <td>{{item.char_name}}</td>
                <td>{{item.class_name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="slider-content">
          <div class="slider-text">
            <span>Detalhes</span>
            <h1 class="section-title">Castelos</h1>
            <table>
              <thead>
              <tr>
                <th>Nome</th>
                <th>Donos</th>
                <th>Castle Siege</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Loki</td>
                <td>Allianca</td>
                <td>04/09/2022 às 16:00</td>
              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>
              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>
              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>
              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>

              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>

              </tr><tr>
                <td>Loki</td>
                <td>Templar Knight</td>
                <td>04/09/2022 às 16:00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="anchor" id="donations"></div>
<section class="donations">
  <div>
    <div class="wrapper">
      <h1 class="section-title wow fadeInUp">Doações</h1>
      <p class="section-paragraph alt wow fadeInDown" data-wow-delay="0.15s">
        Todas doações são final e não são refundáveis. Você não está comprando um produto, todos os benefícios recebidos no jogo são uma maneira de agradecer pela sua doação voluntária.
      </p>
      <ul class="tabs wow fadeInDown" data-wow-delay="0.3s">
        <li rel="1" class="active">
          <small>Items</small>
          <strong>Recompensas</strong>
        </li>
        <li rel="2">
          <small>Doação</small>
          <strong>Pix ou depósito</strong>
        </li>
        <li rel="3">
          <small>Confirmação</small>
          <strong>Receber os itens</strong>
        </li>
      </ul>
      <div class="tabs-content wow fadeIn" data-wow-delay="0.5s">
        <div class="active">
          <div class="donation_result_mess"></div>
          <table style="min-width: 100%;">
            <thead>
            <tr>
              <th style="width: 70%;">Item</th>
              <th style="width: 30%;">Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Weapons + 30 (Full)</td>
              <td>R$ 100,00</td>
            </tr>
            <tr>
              <td>Armors + 30 (Full)</td>
              <td>R$ 100,00</td>
            </tr>
            <tr>
              <td>Jóias Boss + 30 (Full)</td>
              <td>R$ 100,00</td>
            </tr>
            <tr>
              <td>Vip  + 50% Drop (Eterno)</td>
              <td>R$ 50,00</td>
            </tr>
            <tr>
              <td>Kit Full (Weapons, Armors, Jóias e Vip)</td>
              <td>R$ 250,00</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div class="donation_result_mess"></div>
          <p>
            Pix: <b>096.592.886-11</b> <br />
            Weuller Krysthian Rodrigues Costa
          </p>
          <br />
          <p>
            Déposito: Caixa Econômica Federal <br />
            Agência: <b>0119</b> <br />
            Conta Poupança: <b>000771850476-0</b> <br />
            Operação: <b>1288</b> <br />
            Favorecido: Weuller Krysthian Rodrigues Costa <br />
          </p>
        </div>
        <div>
          <div class="donation_result_mess"></div>
          <p>
            Para receber os itens você deve entrar em contato <br>
            com o <b>admin</b> (Kreator1) no Discord ou Whatsapp (31) 9 9144 - 6232. <br>
            Após a confirmação os itens serão entregues imediatamente. <br>
            O admin está disponível durante o dia e em alguns momentos da noite, <br>
            para fazer a confirmação e dar suporte ao servidor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="anchor" id="streamers"></div>
<section class="streamers">
  <div class="wrapper">
    <div rel="1" class="streamers-slider">
      <button class='streamers-nav prev'>
        <img src="assets/img/ic_arrow_left.png" alt="">
      </button>
      <button class='streamers-nav next'>
        <img src="assets/img/ic_arrow_right.png" alt="">
      </button>
      <div class="streamers-content wow fadeInDown" data-wow-delay='0.6s'>
        <ul>
          <li class=" twitch-embed1">
            <div id='twitch-embed1'></div>
          </li>
          <li class=" twitch-embed2">
            <div id='twitch-embed2'></div>
          </li>
          <li class=" twitch-embed3">
            <div id='twitch-embed3'></div>
          </li>
          <li class=" twitch-embed4">
            <div id='twitch-embed4'></div>
          </li>
        </ul>
        <ul>
          <li class=" twitch-embed5">
            <div id='twitch-embed5'></div>
          </li>
          <li class=" twitch-embed6">
            <div id='twitch-embed6'></div>
          </li>
          <li class=" twitch-embed7">
            <div id='twitch-embed7'></div>
          </li>
          <li class=" twitch-embed8">
            <div id='twitch-embed8'></div>
          </li>
        </ul>
        <script type='text/javascript'>
          // leave blanks for no channel integration
          const channelsNames = {
            // 1: 'lineage2',
            // 2: 'lineage2',
            // 3: 'lineage2',
            // 4: 'lineage2',
            // 5: 'lineage2',
            // 6: 'lineage2',
            // 7: 'lineage2',
            // 8: 'lineage2 '
          }

          setTimeout(() => {
            Object.values(channelsNames).forEach((channelName, indexID) => {
              $(`.twitch-embed${indexID + 1}`).fadeOut('slow')

              if(channelName == '')
                return;

              const player = new Twitch.Player(`twitch-embed${indexID + 1}`, {
                width: '100%',
                height: '100%',
                channel: channelName,
                layout: 'video',
                muted: true,
                parent: ['l2eigis.com']
              });

              player.addEventListener(Twitch.Player.READY, initiate)

              function initiate() {
                player.addEventListener(Twitch.Player.ONLINE, handleOnline);
                player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
                player.removeEventListener(Twitch.Player.READY, initiate);
              }

              function handleOnline() {
                console.log(`Turning twitch id ${indexID + 1} online`)
                $(`.twitch-embed${indexID + 1}`).fadeIn('slow')
                player.removeEventListener(Twitch.Player.ONLINE, handleOnline);
                player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
                //player.setMuted(false);
              }

              function handleOffline() {
                console.log(`Turning twitch id ${indexID + 1} offline`)
                $(`.twitch-embed${indexID + 1}`).fadeOut('slow')
                player.removeEventListener(Twitch.Player.OFFLINE, handleOffline);
                player.addEventListener(Twitch.Player.ONLINE, handleOnline);
                player.setMuted(true);
              }
            })
          }, 5000)
        </script>
      </div>
    </div>
  </div>
</section>
